
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color:#231f20;
}

h1 {
  font-size:88px;
}

h2 {
  font-size:40px;
  text-align: center;
  font-weight: bold;
}

.header-title {
  padding: 15px;
  background-color: #fcce00a8;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.header-subtitle {
  padding: 15px;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-stripe{
  margin: 8px 0;
}

.header-stripe--red{
  height: 32px;
  background-color: #e02020bd;
}
.header-stripe--purple{
  height: 16px;
  background-color: #b620e0bd;
}
.header-stripe--blue{
  height: 8px;
  background-color: #6236ffbd;
}

.section-title{
  color: #231f20;
  margin: 64px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
}

.titre-paragraphe{
  margin: 0 31px 34px 48px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.colonnes {
display: flex;
justify-content: space-around;
align-items: stretch;
}

.bloc {
flex-basis: 0;
flex-grow: 1;
}

.bloc1{
  background-image: url(../img/bg-yellow.svg);
}

.ordi1{
  object-fit: contain;
  display: block;
  mix-blend-mode: darken;
  margin-left: auto;
  margin-top: auto;
}

.paragraphe1 {
  margin: 34px 31px 30px 48px;
  font-size: 16px;
  text-align: justify;
}

.bouton1{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  font-weight: bold;
  color: #fcce00;
}

.rectangle{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px;
}

.bloc2{
    background-image: url(../img/bg-orange.svg);
    text-align: left;
  }

  .ordi2{

    object-fit: contain;
    display: block;
    mix-blend-mode: darken;
    margin-left: auto;
    margin-top: 40px;
    text-align: center;
  }

  orange{
  margin: auto;
}

  .paragraphe2 {

    margin: 34px 31px 30px 48px;
    font-size: 16px;
    text-align: justify;
  }

  .bouton2{
    width: 185px;
    height: 48px;
    margin: 30px 31px 22px 455px;
    padding: 10px 36px;
    border-radius: 15px;
    border-solid: 4px;
    font-weight: bold;
    color: #ff6b00;
  }

  .rectangle2{
    width: 185px;
    height: 48px;
    margin: 30px 31px 22px 455px;
    padding: 10px 36px;
    border-radius: 15px;
    border: solid 4px;
  }

  .bouton3{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 52px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px;
  font-weight: bold;
  color: white;
}

.rectangle3{
  margin: 30px 31px 22px 52px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px
  color: white;
}

.bloc3{
  background-image: url(../img/bg-red.svg);
}

.titre-paragraphe4{
  margin: 30px 31px 34px 48px;
  font-size: 32px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.paragraphe4 {
  margin: 34px 31px 30px 48px;
  font-size: 24px;
  text-align: left;
  color: white;
}

.bouton4{
width: 185px;
height: 48px;
margin: 30px 31px 22px 52px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
font-weight: bold;
color: white;
}

.rectangle4{
margin: 30px 31px 22px 52px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px
color: white;
}

.bloc4{
background-image: url(../img/bg-violet.svg);
}

.titre-paragraphe5{
margin: 30px 31px 34px 48px;
font-size: 32px;
color: white;
font-weight: bold;
text-align: left;
}

.paragraphe5 {
margin: 34px 31px 30px 48px;
font-size: 24px;
text-align: left;
color: white;
}

.bouton5{
width: 185px;
height: 48px;
margin: 30px 31px 22px 52px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
font-weight: bold;
color: white;
}

.rectangle5{
margin: 30px 31px 22px 52px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px
color: white;
}

.bloc5{
background-image: url(../img/bg-blue.svg);
}

.fond-noir{
  background-color: black;
  padding: 64px;
}

.jeux-video{
  position: relative;
}

.grid-jeux{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.effet-jeux{
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
