
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color:#231f20;
}

h1 {
  font-size:88px;
}

h2 {
  font-size:40px;
  text-align: center;
  font-weight: bold;
}

.header-title {
  padding: 15px;
  background-color: #fcce00a8;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.header-subtitle {
  padding: 15px;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-stripe{
  margin: 8px 0;
}

.header-stripe--red{
  height: 32px;
  background-color: #e02020bd;
}
.header-stripe--purple{
  height: 16px;
  background-color: #b620e0bd;
}
.header-stripe--blue{
  height: 8px;
  background-color: #6236ffbd;
}

.section-title{
  color: #231f20;
  margin: 64px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
}

.titre-paragraphe{
  width: 640px;
  height: 33px;
  margin: 0 31px 34px 48px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.colonnes {
display: flex;
justify-content: space-around;
align-items: stretch;
}

.bloc {
flex-basis: 0;
flex-grow: 1;
}

.bloc1{
  background-image: url(../img/bg-yellow.svg);
}

.ordi1{
  width: 487px;
  height: 471px;
  object-fit: contain;
  display: block;
  mix-blend-mode: darken;
  margin-left: auto;
  margin-top: 40px;
}

.paragraphe1 {
  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 48px;
  font-size: 16px;
  text-align: justify;
}

.bouton1{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  font-weight: bold;
  color: #fcce00;
  text-align: auto;
}

.bouton{
  text-align: right;
}

.rectangle{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px
